body{
  background:#000;
  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;
}

.bottle-container{
  position:relative;

  width:300px;
  height:700px;
}

/* TODAS AS IMAGENS */
.bottle-container img{
  position:absolute;

  width:100%;

  top:0;
  left:0;
}

.bottle,
.cap,
.rolha{
  opacity:0;
}